{:blocks (
{:block/content "\\mu <- belief propagation(\\theta)\nloss <- marginal_loss(\\mu)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66473035-d1fc-47fb-ab53-eba929a81be8"}
:block/parent 
{:block/uuid #uuid "66473035-d1fc-47fb-ab53-eba929a81be8"}
:block/properties 
{}
:block/uuid #uuid "66473049-42ea-43f0-be52-cad91da43dd2"} 
{:block/created-at 1715941881187
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "66473049-42ea-43f0-be52-cad91da43dd2"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [816 64.88514709472656]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "98111d70-1437-11ef-9b96-91f2e9e16894"
:noFill false
:point [528 88]
:parentId "66473035-d1fc-47fb-ab53-eba929a81be8"
:collapsedHeight 0
:nonce 1715941448045}}
:block/updated-at 1715941881187} 
{:block/content "belief propagation(\\theta)\r\nloop over message_order\r\n$\\log (\\sum exp(cliques))$\r\nfor each clique update belief\r\nreturn belief as Factors per clique"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66473049-42ea-43f0-be52-cad91da43dd2"}
:block/parent 
{:block/uuid #uuid "66473035-d1fc-47fb-ab53-eba929a81be8"}
:block/uuid #uuid "664731d6-efca-4aae-b0d4-c2d5bef3e5cf"} 
{:block/created-at 1715941899578
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "664731d6-efca-4aae-b0d4-c2d5bef3e5cf"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 209.9745635986328]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "85939320-1438-11ef-9b96-91f2e9e16894"
:noFill false
:isLocked false
:point [368 -336]
:parentId "66473035-d1fc-47fb-ab53-eba929a81be8"
:collapsedHeight 0
:nonce 1715941846400}}
:block/updated-at 1715941899578} 
{:block/created-at 1715941899578
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "8b73f052-1438-11ef-9b96-91f2e9e16894"
:fontWeight 400
:noFill true
:point [636.38 -125.03]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "8b73f050-1438-11ef-9b96-91f2e9e16894"}
:end 
{:id "end"
:canBind true
:point [134.86 209.03]
:bindingId "8b73f051-1438-11ef-9b96-91f2e9e16894"}}
:decorations 
{:end "arrow"}
:parentId "66473035-d1fc-47fb-ab53-eba929a81be8"
:nonce 1715941856285
:italic false}}
:block/updated-at 1715941899578} 
{:block/content "marginal_loss(\\mu)\nresults with loss and gradient (gradient per marginal)\nmetric : L2 ?\nfor each clique in \\mu\n>>> belief = clique value from \\mu\n>>> make a zero vector for this clique as gradient\n>>> loop over groups"
:block/format :markdown
:block/left 
{:block/uuid #uuid "664731d6-efca-4aae-b0d4-c2d5bef3e5cf"}
:block/parent 
{:block/uuid #uuid "664731d6-efca-4aae-b0d4-c2d5bef3e5cf"}
:block/properties 
{}
:block/uuid #uuid "66473212-3939-40e1-8b1f-446a67121432"} 
{:block/created-at 1715942053330
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "66473212-3939-40e1-8b1f-446a67121432"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [552 184.8848876953125]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a904c180-1438-11ef-9b96-91f2e9e16894"
:noFill false
:point [864 -336]
:parentId "66473035-d1fc-47fb-ab53-eba929a81be8"
:collapsedHeight 0
:nonce 1715941905902}}
:block/updated-at 1715942053330})
:pages (
{:block/uuid #uuid "66473035-d1fc-47fb-ab53-eba929a81be8"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66473035-d1fc-47fb-ab53-eba929a81be8"
:name "privlava"
:bindings 
{:8b73f050-1438-11ef-9b96-91f2e9e16894 
{:id "8b73f050-1438-11ef-9b96-91f2e9e16894"
:type "line"
:fromId "8b73f052-1438-11ef-9b96-91f2e9e16894"
:toId "85939320-1438-11ef-9b96-91f2e9e16894"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:8b73f051-1438-11ef-9b96-91f2e9e16894 
{:id "8b73f051-1438-11ef-9b96-91f2e9e16894"
:type "line"
:fromId "8b73f052-1438-11ef-9b96-91f2e9e16894"
:toId "98111d70-1437-11ef-9b96-91f2e9e16894"
:handleId "end"
:point [0.34 0.7]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("98111d70-1437-11ef-9b96-91f2e9e16894" "85939320-1438-11ef-9b96-91f2e9e16894" "8b73f052-1438-11ef-9b96-91f2e9e16894" "a904c180-1438-11ef-9b96-91f2e9e16894")}}
:block/updated-at 1715942062624
:block/created-at 1715941429592
:block/type "whiteboard"
:block/name "privlava"
:block/original-name "privlava"})}